<!-- -*- engine:django -*- -->

{% extends 'brake_web/base.html'%}

{% block content %}

<h1>Current Packages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Version</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
    {% for pkg in packages %}
      <tr>
        <th scope="row"><a href = "{% url 'ViewPackage' pkg.id %}">{{pkg.name}}</a></th>
        <td>{{pkg.description|truncatechars:100 }}</td>
        <td> {{ pkg.versionString }}</td>
        <td> </td>
      </tr>

    {% endfor %}

  </tbody>
</table>

<h2>{{error}}</h2>
<form method="POST" >
  {% csrf_token %}

{{form.as_p}}
</form>
{% endblock %}
